/* ==================================Body======================= */
body{
        font-family: "Anta", sans-serif;
        font-weight: 400;
      
}
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap'); */
body::-webkit-scrollbar{
    background-color:rgb(255, 255, 255);
    width: 5px;
}
body::-webkit-scrollbar-thumb{
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 74%);
}

/* ==================================body end======================= */

/* =======================  whatsappchat ================ */
.whatsappchat{
    position: fixed;
    top: 90%;
    right: 0.5%;
     background:#25d366;
}

.whatsappchat2{
    position: fixed;
    top: 89%;
    right: 3%;
     background:#25d366;
     
}
.whatsapp-icon{
    margin-left: 6px;
    width: 22px;
    height: 21px;
    z-index: 1000;

}

.whatsapp-icon2{
    width: 22px;
    height: 22px;
    z-index: 1000;

}
@media screen  and (max-width:1024px){
    .whatsappchat{
        display: none;
    }
.whatsappchat2{
    display: block;
}
}

@media screen  and (min-width:1024px){
    .whatsappchat{
        display: block;
    }
.whatsappchat2{
    display: none;
}
}

/* ==================================preloader======================= */
#preloader{
    background: rgb(255, 255, 255) ;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media screen and (min-width:768px) {
    .preloaderimg{
        width: 20%;
    }
}
/* ==================================perloader end======================= */


/* ==================================first navbar======================= */
.social:hover{
transform: scale(1.5);
transition: 0.5s;
color: rgb(255, 136, 0);
}
.social{
transition:0.5s;
}

@media screen and (max-width:768px) {
    .firstnav, .firstnav1{
        text-align: center;
    }    
}
@media screen and (min-width:786px) {
    .firstnav1{
        text-align: end;
    }
}
/* ==================================end======================= */

/* ==================================second navbar======================= */

@media screen and (max-width:1024px) {
    .navbarmain{
        display: none;
    }
}

@media screen and (min-width:1054px) {
    .offnav{
        display:none ;
    }
}




/* ==================================end======================= */


.hero{
    animation: up  2s ease-in-out infinite alternate-reverse both;

}

@keyframes up {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
    
}

/* ==============================delails section=============================== */
.thirdline{
    background-image: url(image/Details\ bg\ img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.buttonfirst{
    transition: 5s;
    border-radius: 0%;
}
.buttonfirst:hover{
border-radius: 20px;
transition: 5s;
    }
.aboutline{
    color:rgb(142, 228, 244);
    text-shadow: 0  0  10px rgb(35, 210, 241);

}
/* =================================delatils section end======================= */

/* ==============================footer =============================== */
.lists{
transition: 0.3s;
color: white;
}
.lists:hover{
color: rgb(25,135,84);
}
/* ==============================footer end=============================== */


/* =============================top button=============================== */
.topbutton{
    position: fixed;
    top: 90%;
    right: 3%;
}
/* ==============================top button end=============================== */




/* ==================================================cards====================================== */
.servicescard{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.servicescard:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: translateY(0px) scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}



/*js card ==================*/

.jsmain{
    border: 1px solid rgb(212,184,48);
}
.js{
    background: rgb(212,184,48);
}
.jstext{
    color: rgb(212,184,48);
}
/*html card ==================*/

.htmltext{
color: rgb(227,79,39);
}
.htmlmain{
    border: 1px solid rgb(227,79,39)  ;
}

.html{
    background: rgb(227,79,39);
}
/* css card================== */

.csstext{
    color: rgb(38,78,228);
}

.cssmain{
    border: 1px solid rgb(38,78,228);
}
.css{
    background-color: rgb(38,78,228);
}

/* boot card=============== */

.boottext{
    color: rgb(87,8,203) ;
}

.bootmain{
    border: 1px solid  rgb(87,8,203);
}
.boot{
    background-color:  rgb(87,8,203);
}

/* canva card=============== */


.canvatext{
    color: rgb(0,191,206) ;
}

.canvamain{
    border: 1px solid  rgb(0,191,206);
}
.canva{
    background-color:  rgb(0,191,206);
}
/* <!--========================================================== END  card==================================--> */

/* ===================================script=================== */

/*owl card button===================== */
#owlfirst .owl-nav button span {
    display: none;
    }
    


.button1{
    background:rgb(0,150,136);
    color: white;
}

.button1:hover{
    background:rgb(0,150,136);
color: white;
}

.button3{
    background: rgb(157,22,29);
    color: white;
}

.button3:hover{
    background: rgb(157,22,29);
    color: white;
}
.button5{
background: rgb(0, 255, 89);
color: white;
}
.button5:hover{
    background: rgb(0, 255, 89);
    color: white;
}
.button6{
    background: rgb(5,48,93);
    color: white;
}
.button6:hover{
    background: rgb(5,48,93);
    color: white;
}
.button7{
    background: rgb(0,101,187);
    color: white;
}
.button7:hover{
    background: rgb(0,101,187);
    color: white;
}

.button10{
    background-color: rgb(207,108,37);
    color: white;
}
.button10:hover{
    background-color:rgb(207,108,37);

}
.slidecard{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.silde{
    
    
    background-image:linear-gradient(rgb(187, 186, 186),rgb(176, 176, 176) ,rgb(212, 212, 212));

}

/* ======================= owl card button end===================== */

/* ======================   logo ===================== */
.logo{
    position: fixed;
    top: 85%;
    left: 1%;
    z-index: 99;
}

@media screen and (max-width:1024px) {
    .logo{
        display: none;
    }
    
}
/* ======================= logo end===================== */


/* ============================= footer ============================ */

@media screen and (min-width:670px) {
    .footli{
        display: none;
    }

}

@media screen and (max-width:670px) {
    .foota{
        display: none;
    }
}

.footera{
    margin-left: 50px;
}


.navli{
    margin-left: 200px;
}

@media screen and (max-width:1024px) {
    .navli{
        margin-left: 100px;
    } 
}